<!-- 
<div class="container-fluid">
   <div class="row no-gutter">
    
       <div class="col-md-6 d-none d-md-flex bg-image"></div>
     
       <div class="col-md-6 bg-light">
           <div class="login d-flex align-items-center py-5">
            
               <div class="container">
                   <div class="row">
                       <div class="col-lg-10 col-xl-7 mx-auto">
                           <h3 class="display-4">Login</h3>
                           <p class="text-muted mb-4">saroukh.com</p>
                           <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                               <div class="form-group mb-3">
                                   <input id="inputEmail" type="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                   <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                       <div *ngIf="f.email.errors.required">Email is required</div>
                                       <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                               </div>
                               <div class="form-group mb-3">
                                   <input id="inputPassword" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                   <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                       <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                               </div>
                              
                               <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>
                               
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
 -->
 <!-- /////////////////////////////////// -->
 <!-- <div class="wrapper">
    <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Twitter
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div> -->



  <div class="section">
          <div class="container">
              <div class="row full-height justify-content-center">
                  <div class="col-12 text-center align-self-center py-5">
                      <div class="section pb-5 pt-5 pt-sm-2 text-center">
                          <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                            <label for="reg-log"></label>
                          <div class="card-3d-wrap mx-auto">
                              <div class="card-3d-wrapper">
                                  <div class="card-front">
                                      <div class="center-wrap">
                                          <div class="section text-center">
                                              <h4 class="mb-4 pb-3">Log In</h4>
                                              <div class="form-group">
                                                  <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                  <i class="input-icon uil uil-at"></i>
                                              </div>	
                                              <div class="form-group mt-2">
                                                  <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                  <i class="input-icon uil uil-lock-alt"></i>
                                              </div>
                                              <a href="#" class="btn mt-4">submit</a>
                                              <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                            </div>
                                        </div>
                                    </div>
                                  <div class="card-back">
                                      <div class="center-wrap">
                                          <div class="section text-center">
                                              <h4 class="mb-4 pb-3">Sign Up</h4>
                                              <div class="form-group">
                                                  <input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
                                                  <i class="input-icon uil uil-user"></i>
                                              </div>	
                                              <div class="form-group mt-2">
                                                  <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                  <i class="input-icon uil uil-at"></i>
                                              </div>	
                                              <div class="form-group mt-2">
                                                  <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                  <i class="input-icon uil uil-lock-alt"></i>
                                              </div>
                                              <a href="#" class="btn mt-4">submit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>
